<h2>Features</h2>

<form method="post" action="">
  {{ formset.management_form }}
  <p><input type="submit" value="Save Changes"> or <a href="/admin/featurelabs/enabledfeature/">Cancel</a></p>
  {% for feature, meta in feature_list %}
    <p><strong>{{ feature }}</strong>
    {{ meta.enabled|yesno:"enabled,disabled" }} ({{ meta.source }})
    {% if not meta.enabled %}
      <a href="?enable_{{ feature.name }}">enable with URL</a>
    {% endif %}
    {% if not meta.enabled or meta.source == 'url' %}
	<a href="?session_enable_{{ feature.name }}">enable for session</a>
    {% endif %}
    {% if feature.description %}<br/><em>{{ feature.description }}</em>{% endif %}
    </p>
    {{ meta.form }}
  {% endfor %}
  <p><input type="submit" value="Save Changes"> or <a href="/admin/featurelabs/enabledfeature/">Cancel</a></p>
</form>
