{% extends "featurelabs/base.html" %}

{% block head_title %}Features{% endblock %}

{% block content %}

{% include "featurelabs/features_list.html" %}

<p><a href="?session_clear_features">Remove all feature settings from session</a></p>

{% if user.is_authenticated %}

	<h3>Features enabled for {{ user }}</h3>
	<p>(These don't currently get included in the final feature state as things aren't hooked up yet)</p>

<ul>
  {% for feature in user.enabled_features.all %}
    <li>{{ feature }}</li>
  {% endfor %}
</ul>

<h3>And now our fancy Google Mail Labs-style list</h3>

<form method="post" action="">
    {{ formset.management_form }}
        {% for form in formset.forms %}
        {{ form.as_p }}
    {% endfor %}
    <p><input type="submit" value="Save Changes"></p>
</form>

{% endif %}

{% endblock %}
